main {
  width: 960px;
  margin: 0 auto;
}

body {
  background-color: #1e2842;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#bio {
  display: flex;
  margin-bottom: 20px;
}

#bio-choose {
  width: 100%;
  margin: 0px 0px 0px 10px;
}

#name-date {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 5px;
}

#choose-list {
  padding: 10px;
  background-color: #e1af98;
  margin: 15px 5px 0px 5px;
}

ul {
  padding-left: 15px;
  color: #2e4b59;
}

#tech {
  display: flex;
  justify-content: space-between;
}

#interest {
  margin: 20px 0px 20px 0px;
}

#excited-choice {
  background-color: #e1af98;
  margin-top: 15px;
  padding: 12px;
}

footer {
  height: 40px;
  text-align: center;
}

.fit-picture {
    height: 90px;
}

h2, time {
  color: #fff;
  font-size: 1.2rem;
}

figure {
  margin: 5px auto;
  text-align: center;
}

figure > img {
  max-height: 150px;
  max-width: 200px;
}

figcaption {
  background-color: rgba(0,0,0,.5);
  color: #ccc;
  max-width: 180px;
  margin-top: -20px;
  position: relative;
  top: -20px;
}

h2, h3, h4, h5 {
  color: #2e4b59;
  margin: 0px;
  font: 1.4em "Bebas Neue";
}

h2, time {
  font-weight: bold;
  color: #e1af98;
}

time {
  font: 1.2em "Bebas Neue";
  margin: 0px;
}

p {
  color: #2e4b59
}

#copyright {
  color: #fff;
}